extends layout

block content
    h1= "form"
    form(action="/new", method="post") 
        input(type="text", placeholder="Username", name='username')
        input(type="text", placeholder="Message", name='message')
        input(type="submit", value="Submit")
